[submodule "zprezto"]
	path = zprezto
	url = git://github.com/quarterto/prezto.git
[submodule "atom"]
	path = atom
	url = git://github.com/quarterto/.atom.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:quarterto/Vimrc.git
