<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>delay</key>
			<real>10</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Applications/HipChat.app</string>
			<key>type</key>
			<string>OpenAndHide</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>delay</key>
			<real>0.0</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>HipChat</string>
			<key>type</key>
			<string>QuitApplication</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>4E9938FB-271A-461B-B3A8-043440DA7CC9</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>off</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<false/>
			<key>type</key>
			<string>ToggleBluetooth</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>681D3791-D04D-46DC-89CF-A8384585237D</string>
			<key>delay</key>
			<real>2</real>
			<key>description</key>
			<string>on</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<true/>
			<key>type</key>
			<string>ToggleBluetooth</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>681D3791-D04D-46DC-89CF-A8384585237D</string>
			<key>delay</key>
			<real>30</real>
			<key>description</key>
			<string>Start backup</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<true/>
			<key>type</key>
			<string>StartTimeMachine</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>681D3791-D04D-46DC-89CF-A8384585237D</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>off</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<false/>
			<key>type</key>
			<string>ToggleBluetooth</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>A7ABC712-2CCC-4C6A-B53A-6EC55BD6750C</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>on</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<true/>
			<key>type</key>
			<string>ToggleBluetooth</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>delay</key>
			<real>0.0</real>
			<key>description</key>
			<string>Mute system audio</string>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<false/>
			<key>type</key>
			<string>Mute</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>681D3791-D04D-46DC-89CF-A8384585237D</string>
			<key>delay</key>
			<real>0.0</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Volumes/External</string>
			<key>type</key>
			<string>Unmount</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>681D3791-D04D-46DC-89CF-A8384585237D</string>
			<key>delay</key>
			<real>0.0</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Volumes/Backup</string>
			<key>type</key>
			<string>Unmount</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>A7ABC712-2CCC-4C6A-B53A-6EC55BD6750C</string>
			<key>delay</key>
			<real>0.0</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Volumes/VMs</string>
			<key>type</key>
			<string>Unmount</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>E2C05C3F-6E6B-4CB1-9427-18097D82C53F</string>
			<key>delay</key>
			<real>0.0</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>Rainy Mood</string>
			<key>type</key>
			<string>QuitApplication</string>
			<key>when</key>
			<string>Departure</string>
		</dict>
		<dict>
			<key>context</key>
			<string>E2C05C3F-6E6B-4CB1-9427-18097D82C53F</string>
			<key>delay</key>
			<real>0.0</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Applications/Rainy Mood.app</string>
			<key>type</key>
			<string>Open</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
		<dict>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>delay</key>
			<real>0.0</real>
			<key>enabled</key>
			<true/>
			<key>parameter</key>
			<string>/Users/matt/Dropbox/Design/Wallpapers/Kernow.jpg</string>
			<key>type</key>
			<string>DesktopBackground</string>
			<key>when</key>
			<string>Arrival</string>
		</dict>
	</array>
	<key>AllowMultipleActiveContexts</key>
	<true/>
	<key>Contexts</key>
	<array>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg/b+Fj6DqB0EP4P8PFY/AYY=
			</data>
			<key>name</key>
			<string>Home</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>4E9938FB-271A-461B-B3A8-043440DA7CC9</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg51EMj+DQ1kSPoOujeA9AYY=
			</data>
			<key>name</key>
			<string>Docked (Work)</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>A7ABC712-2CCC-4C6A-B53A-6EC55BD6750C</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg14ccD+DIPE7P4MyFQ89AYY=
			</data>
			<key>name</key>
			<string>Work</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg8kxCD+DaFxxPoNiIyo/AYY=
			</data>
			<key>name</key>
			<string>Docked (Home)</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>681D3791-D04D-46DC-89CF-A8384585237D</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg+Nttz2Dgp0xP4Pbgwo/AYY=
			</data>
			<key>name</key>
			<string>Headphones</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>E2C05C3F-6E6B-4CB1-9427-18097D82C53F</string>
		</dict>
		<dict>
			<key>iconColor</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2Jq
			ZWN0AIWEAWMBhARmZmZmg3zWLz+DwcY2P4NDwDs/AYY=
			</data>
			<key>name</key>
			<string>Other</string>
			<key>parent</key>
			<string></string>
			<key>uuid</key>
			<string>3EA6774D-3258-4C10-AA8A-E8D42EED448A</string>
		</dict>
	</array>
	<key>CrashReportSender.appVersion</key>
	<string>67</string>
	<key>CrashReportSender.lastCrashDate</key>
	<date>2014-10-28T09:52:10Z</date>
	<key>DefaultContext</key>
	<string>3EA6774D-3258-4C10-AA8A-E8D42EED448A</string>
	<key>EnableActiveApplicationEvidenceSource</key>
	<true/>
	<key>EnableAttachedPowerAdapterEvidenceSource</key>
	<true/>
	<key>EnableBluetoothEvidenceSource</key>
	<true/>
	<key>EnableBonjourEvidenceSource</key>
	<true/>
	<key>EnableCoreLocationEvidenceSource</key>
	<false/>
	<key>EnableDNSEvidenceSource</key>
	<true/>
	<key>EnableLaptopLidEvidenceSource</key>
	<true/>
	<key>EnableLightEvidenceSource</key>
	<true/>
	<key>EnableNetworkLinkEvidenceSource</key>
	<true/>
	<key>EnablePersistentContext</key>
	<false/>
	<key>EnableShellScriptEvidenceSource</key>
	<true/>
	<key>EnableSleep/WakeEvidenceSource</key>
	<true/>
	<key>EnableWiFiEvidenceSource</key>
	<true/>
	<key>MinimumConfidenceRequired</key>
	<real>0.45192307692307693</real>
	<key>NSColorPanelMode</key>
	<string>5</string>
	<key>NSColorPickerPageableNameListDefaults</key>
	<string>1Flat UI</string>
	<key>NSNavLastRootDirectory</key>
	<string>~/Dropbox</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{712, 484}</string>
	<key>NSTableView Columns Preferences/Actions</key>
	<array>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHR5cGWG
		</data>
		<string>189</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErC2Rlc2NyaXB0aW9uhg==
		</data>
		<string>105</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBHdoZW6G
		</data>
		<string>130</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErB2NvbnRleHSG
		</data>
		<string>241</string>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU1N0cmluZwGEhAhOU09iamVjdACF
		hAErBWRlbGF5hg==
		</data>
		<string>408</string>
	</array>
	<key>NSTableView Hidden Columns Preferences/Actions</key>
	<array/>
	<key>NSTableView Sort Ordering Preferences/Actions</key>
	<array/>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSView Size Preferences/Actions</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAt7
	Q0dTaXplPWRkfZaBagSB0gGG
	</data>
	<key>NSWindow Frame NSColorPanel</key>
	<string>-1296 580 201 309 -1920 355 1920 1058 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>1633 347 400 129 1440 -39 1280 778 </string>
	<key>NSWindow Frame SUUpdateAlertFrame</key>
	<string>433 364 578 392 0 0 1440 878 </string>
	<key>PersistentContext</key>
	<string>A7ABC712-2CCC-4C6A-B53A-6EC55BD6750C</string>
	<key>Rules</key>
	<array>
		<dict>
			<key>confidence</key>
			<real>0.94230769230769229</real>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>description</key>
			<string>Anqa_HQ</string>
			<key>parameter</key>
			<string>Anqa_HQ</string>
			<key>type</key>
			<string>WiFi SSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.94230769230769229</real>
			<key>context</key>
			<string>4E9938FB-271A-461B-B3A8-043440DA7CC9</string>
			<key>description</key>
			<string>fortyone</string>
			<key>parameter</key>
			<string>fortyone</string>
			<key>type</key>
			<string>WiFi SSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.82272727272727275</real>
			<key>context</key>
			<string>A7ABC712-2CCC-4C6A-B53A-6EC55BD6750C</string>
			<key>description</key>
			<string>DELL U2312HM</string>
			<key>parameter</key>
			<string>16498</string>
			<key>type</key>
			<string>Monitor</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.82272727272727275</real>
			<key>context</key>
			<string>681D3791-D04D-46DC-89CF-A8384585237D</string>
			<key>description</key>
			<string>LE1940</string>
			<key>parameter</key>
			<string>6464</string>
			<key>type</key>
			<string>Monitor</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.8954545454545455</real>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>description</key>
			<string>Anqa_GreenRoom</string>
			<key>parameter</key>
			<string>Anqa_GreenRoom</string>
			<key>type</key>
			<string>WiFi SSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>1</real>
			<key>context</key>
			<string>E2C05C3F-6E6B-4CB1-9427-18097D82C53F</string>
			<key>description</key>
			<string>Headphones</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<integer>1751412846</integer>
			<key>type</key>
			<string>AudioOutput</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.83181818181818179</real>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>description</key>
			<string>Giraffe</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>Giraffe</string>
			<key>type</key>
			<string>WiFi SSID</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.69999999999999996</real>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>description</key>
			<string>Thunderbolt Bridge link active</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>+Thunderbolt Bridge</string>
			<key>type</key>
			<string>NetworkLink</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.87087912087912089</real>
			<key>context</key>
			<string>A7ABC712-2CCC-4C6A-B53A-6EC55BD6750C</string>
			<key>description</key>
			<string>Fitbit Base Station [0x2687]</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>9863,64257</string>
			<key>type</key>
			<string>USB</string>
		</dict>
		<dict>
			<key>confidence</key>
			<real>0.90336134453781514</real>
			<key>context</key>
			<string>031C3A3E-F6F1-43F0-B39D-57EB0ACA5368</string>
			<key>description</key>
			<string>192.168.2.66,255.255.255.255</string>
			<key>negate</key>
			<integer>0</integer>
			<key>parameter</key>
			<string>192.168.2.66,255.255.255.255</string>
			<key>type</key>
			<string>IP</string>
		</dict>
	</array>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2014-12-31T19:01:59Z</date>
	<key>ShowAdvancedPreferences</key>
	<true/>
	<key>UseDefaultContext</key>
	<true/>
	<key>userHasSeenMultipleActiveContextsNotification</key>
	<true/>
</dict>
</plist>
