"*":
  "atom-beautify":
    js:
      disabled: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
    "atom-ide-terminal":
      black: "#212121"
      blue: "#29b6f6"
      brightBlack: "#546e7a"
      brightBlue: "#40c4ff"
      brightCyan: "#64ffda"
      brightGreen: "#b2ff59"
      brightMagenta: "#ff4081"
      brightRed: "#ff5252"
      brightWhite: "#ffffff"
      brightYellow: "#ffe57f"
      cursorBlink: true
      cursorStyle: "bar"
      cyan: "#1de9b6"
      documentationMessage: false
      fontFamily: "Iosevka"
      green: "#c6ff00"
      magenta: "#ec407a"
      red: "#ef5350"
      white: "#f3f5f6"
      yellow: "#ffe082"
    hyperclick: {}
    use:
      hyperclick: "always"
  "atom-lupa": {}
  "atom-package-deps":
    ignored: [
      "linter"
      "prettier-atom"
      "linter-eslint"
      "path-hyperclick"
    ]
  "atom-ternjs":
    inlineFnCompletion: false
  "atom-toolbar":
    visible: false
  "atom-typescript": {}
  "autocomplete-plus":
    scopeBlacklist: [
      ".text.plain"
    ]
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.clojure": [
        "cd"
      ]
      "text.html.mustache": [
        "ms"
      ]
    disabledPackages: [
      "background-tips"
      "deprecation-cop"
      "autocomplete-snippets"
      "atom-ternjs"
      "flow-ide"
      "spell-check"
      "language-gfm"
    ]
    packagesWithKeymapsDisabled: [
      "imdone-atom"
      "tree-view"
    ]
    projectHome: "/Users/matthew.brennan/Projects"
    telemetryConsent: "no"
    themes: [
      "flexible-ui"
      "makika-syntax"
    ]
    titleBar: "custom"
    warnOnLargeFileLimit: 2
  docblockr:
    param_description: false
    return_description: false
    simple_mode: true
  editor:
    fontFamily: "Iosevka, Input, Menlo, monospace"
    fontSize: 11
    invisibles:
      eol: "⁋"
    lineHeight: 1.6
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…_-"
    preferredLineLength: 100000
    scrollPastEnd: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 3
  "exception-reporting":
    userId: "c26572b5-d3e2-4e76-b5c0-ff8c897a5b44"
  "file-icons":
    strategies: {}
  "find-and-replace":
    closeFindPanelAfterSearch: true
    focusEditorAfterSearch: true
    liveSearchMinimumCharacters: 0
    scrollToResultOnLiveSearch: true
  "flow-ide":
    showUncovered: true
  "git-control":
    noFastForward: true
    showGitFlowButton: false
  "git-diff": {}
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  hyperclick:
    darwinTriggerKeys: "altKey"
  "ide-flowtype":
    tryFlowBin: true
  "ide-typescript": {}
  "isotope-ui":
    lowContrastTooltip: true
    minimalMode: true
  "language-babel": {}
  linter: {}
  "linter-ui-default":
    panelHeight: 60
    panelRepresents: "Current Line"
    showProviderName: true
    statusBarRepresents: "Current File"
  minimap:
    charHeight: 1
    independentMinimapScroll: true
    interline: 2
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  "move-status-items":
    left: [
      "STATUS-BAR-FILE.file-info"
      "DIV.highlight-selected-status.highlight-selected-hidden"
      "STATUS-BAR-CURSOR.cursor-position"
      "STATUS-BAR-SELECTION.selection-count"
      "DIV.linter-status-count"
    ]
    right: [
      "DIV"
      "ENCODING-SELECTOR-STATUS.encoding-status"
      "GRAMMAR-SELECTOR-STATUS.grammar-status"
      "STATUS-BAR-GIT.git-view"
      "BUSY-SIGNAL.loading-spinner-tiny.idle"
      "A.line-ending-tile"
      "DIV.package-updates-status-view.text.text-info"
    ]
  "no-title-bar":
    metaKeyMouseDrag: false
    titleBar: "custom"
    useCustomTitleBar: true
  "one-dark-ui":
    stickyHeaders: false
  parinfer:
    "file-extensions": [
      ".clj"
      ".cljc"
      ".cljs"
      ".el"
      ".lfe"
      ".rkt"
    ]
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      bracketSpacing: false
      singleQuote: true
      trailingComma: "es5"
      useTabs: true
    silenceErrors: true
    useEslint: true
  "project-plus": {}
  "proto-repl":
    autoPrettyPrint: true
    displayHelpText: false
  "split-diff":
    colors:
      addedColorSide: "right"
  "status-bar":
    fullWidth: false
  tabs:
    enableVcsColoring: true
  "theme-switch":
    darkProfiles: [
      "nucleus-dark-ui makika-syntax"
    ]
    lightProfiles: [
      "one-light-ui makika-light-syntax"
    ]
    profiles: [
      "nucleus-ui makika-syntax"
      "one-light-ui makika-light-syntax"
    ]
  "todo-show":
    findTheseTodos: [
      "TODO"
      "FIXME"
      "CHANGED"
      "XXX"
      "IDEA"
      "HACK"
      "NOTE"
      "REVIEW"
      "NB"
      "BUG"
      "QUESTION"
      "COMBAK"
      "TEMP"
      "COMPLEX"
    ]
    openListInDirection: "ontop"
    showInTable: [
      "Type"
      "Text"
      "Path"
      "Line"
    ]
    sortBy: "Path"
    statusBarIndicator: true
  "tree-view":
    alwaysOpenExisting: true
    focusOnReveal: false
    squashDirectoryNames: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    blackholeRegisteredOperators: [
      "change*"
      "substitute*"
    ]
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    groupChangesWhenLeavingInsertMode: false
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    incrementalSearchVisitDirection: "relative"
    keymapPToPutWithAutoIndent: true
    keymapYToYankToLastCharacterOfLine: true
    startInInsertModeScopes: [
      "ink-console"
    ]
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
  welcome:
    showOnStartup: false
  "which-key":
    keystrokesFormat: "symbol"
    useMetaForAlt: false
  zentabs:
    maximumOpenedTabs: 8
    neverCloseUnsaved: true
".clojure.source":
  editor:
    softTabs: true
    tabLength: 2
".css.scss.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
".css.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!#$@%^&*|+=[]{}`?…-_"
".sass.source":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…_-"
