@import 'packages/makika-syntax/styles/colors';

status-bar, atom-panel.bottom {
	background: #171717 !important;
}

status-bar .flexbox-repaint-hack {
	padding-top: 5px !important;
}

atom-panel, atom-pane-axis > * {
	border-color: #171717 !important;
	border-width: 2px !important;
}

.linter-status-count {
	> span {
		background: none;
		border: 1px solid;
		font-weight: bold;
		margin-right: .5em;
	}

	.highlight {
		display: none;
	}

	.highlight-error {
		color: @red-A400;
	}

	.highlight-warning {
		color: @orange-A400;
	}
}

atom-text-editor {
	font-weight: 200;
}

* {
	-webkit-font-smoothing: auto !important;
}

#linter-tooltip linter-message {
	color: inherit;
}

@terminal-background: #101010;

.terminal-pane {
	background: @terminal-background;

	.xterm-viewport {
		background: transparent !important;
	}
}

.tab {
	max-width: none !important;

	&.active {
		flex: 1 !important;
	}

	&[data-type=TerminalView] {
		&.active {
			background: @terminal-background !important;
		}

		&:not(:last-child) {
			border-right: 2px #171717 solid;
		}
	}

	&[data-type=TreeView] {
		background: transparent !important;
	}
}

atom-panel-container {
	border: 0 none !important;
}


atom-workspace {
	background: #171717 !important;
}

.tree-view-root {
	padding-left: 20px !important;
}

.project-root-header,
.atom-dock-toggle-button-inner:not(.bottom) {
	border: 0 none !important;
}

.tree-view {
	.list-tree {
		border: 0 none !important;
		margin-left: 0 !important;
	}

	.list-item.file.entry {
		&::after, &::before {
			display: none;
		}
	}

	.list-item {
		padding: 3px 0;
	}
}

.atom-dock-resize-handle {
	&.left, &.right {
		width: 2px !important;
	}

	&.bottom  {
		height: 2px !important;
	}
}

atom-panel.modal, .overlay {
	&, .select-list, &.select-list,{
		ul, ol {
			&.list-group li.two-lines {
				margin: 0 !important;
				padding: 10px 20px;
			}
		}
	}
}
